li.nav-item
          a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#add-data-nav')
            i.bi.bi-cloud-upload-fill
            span Upload Data
            i.bi.bi-chevron-down.ms-auto
          ul#add-data-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
                a(href="#")
                  i.bi.bi-circle
                  span Waste Records
            li
                a(href="#")
                  i.bi.bi-circle
                  span Treatment Records
            li
                a(href="#")
                  i.bi.bi-circle
                  span Data Source