li.nav-item
          a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#icons-nav')
            i.bi.bi-building-fill-down
            span Buildings
            i.bi.bi-chevron-down.ms-auto
          ul#icons-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              // Add icon links here