li.nav-item
  a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#components-nav')
    i.bi.bi-geo-alt-fill
    span Collection points
    i.bi.bi-chevron-down.ms-auto
  ul#components-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
    li
      a(href="/?layer=collection_points")
        i.bi.bi-circle
        span View Collection Points

    li
      a(href="/api/collectionpoints/create")
        i.bi.bi-circle
        span Create Collection Point

    li 
      a(href="#")
        i.bi.bi-circle
        span Filter Points
    li 
      div.form-filter
        form.ml-5(id="collectionFilterForm")
          .row
            .col-md-12
              .input-group.mt-2.form-option
                .col-md-4
                  select#collectionFilterFormOptions.form-control(name="filterType")
                    option(value="id") ID
                    option(value="code") Code
                    option(value="postal_code") Postal Code
                    //- option(value="city") City
                .col-md-5
                  input.form-control(type="text", id="collectionFilterFormValue", aria-describedby="inputGroupPrepend2", required)
                .col-md-3  
                  button.btn.btn-primary(type="submit")
                    i.bi.bi-check-circle

script(src="./assets/js/utils.js")
script.
  document.addEventListener('DOMContentLoaded', (event) => {
    let urlParams = new URLSearchParams(window.location.search);
    const layer = urlParams.get('layer');

    if (window.location.href.includes('collection_points')) {
      window.fetchData(layer, null, null)
      .then(nestedFeatures => [].concat(...nestedFeatures))
      .then(features => {
        for (let feature of features) {
          feature.set('layer', 'collection_points');
        }
        collectionPointsSource.clear();
        collectionPointsSource.addFeatures(features);
      });

      window.handleFilterForm('collectionFilterForm', 'collection_points', collectionPointsSource);
    }

    // Always handle treatment filter form, regardless of the current page
    window.handleFilterForm('treatmentFilterForm', 'treatment_sites', treatmentSitesSource);
  });

