li.nav-item
          a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#tables-nav')
            i.bi.bi-houses-fill
            span Communes
            i.bi.bi-chevron-down.ms-auto
          ul#tables-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              // Add table links here