//- li.nav-item
//-           a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#download-data-nav')
//-             i.bi.bi-cloud-download-fill
//-             span Download Data
//-             i.bi.bi-chevron-down.ms-auto
//-           ul#download-data-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span Waste Records
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span Treatment Records
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span Waste Records Statistics
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span City Statistics
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span Iris statistics
//-             li
//-                 a(href="#")
//-                   i.bi.bi-circle
//-                   span Data source