header#header.header.fixed-top.d-flex.align-items-center
      div.d-flex.align-items-center.justify-content-between
        a(href="#" class="logo d-flex align-items-center")
        //- img(src="/assets/img/logo.png" alt="")
        i.bi.bi-list.toggle-sidebar-btn

        // End Logo
      //- div.search-bar
      //-   //- form.search-form.d-flex.align-items-center(method="POST" action="#")
      //-   //-   input(type="text" name="query" placeholder="Search" title="Enter search keyword")
      //-   //-   button(type="submit" title="Search")
      //-   //-     i.bi.bi-search

      //- nav.header-nav.ms-auto
      //-   ul.d-flex.align-items-center
      //-     li.nav-item.d-block.d-lg-none
      //-       a.nav-link.nav-icon.search-bar-toggle(href="#")
      //-         i.bi.bi-search