doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Waste Management gis
    meta(name="description" content="")
    meta(name="keywords" content="")

    // Favicons
    link(href="/assets/img/favicon.png" rel="icon")
  

    // Google Fonts
    link(href="https://fonts.gstatic.com" rel="preconnect")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet")

    /// Vendor CSS Files
    link(href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet")
    link(href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet")
    link(href="/assets/vendor/quill/quill.snow.css" rel="stylesheet")
    link(href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet")
    link(href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet")
    link(href="/assets/vendor/simple-datatables/style.css" rel="stylesheet")
    link(href="/assets/css/style.css" rel="stylesheet")


    script(src="https://maps.stamen.com/js/tile.stamen.js?v1.3.0")
    script(src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css")
    script(src="https://cdn.jsdelivr.net/gh/walkermatt/ol-layerswitcher@master/dist/ol-layerswitcher.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/walkermatt/ol-layerswitcher@master/dist/ol-layerswitcher.css" type="text/css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js")

    style.
      html, body, #map {
        width: 100%;
        margin: 0;
        padding: 0;
      }
        .card-bottom-center {
        position: fixed;
        bottom: 1rem;
        left: 40%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 350px;
        height: 200px;
      }
  body
    // ======= Header =======
    include header.pug
    // End Header

    
    // ======= Sidebar =======
    aside#sidebar.sidebar
      ul.sidebar-nav#sidebar-nav
        include sidebar_items.pug

    div#popup(style="z-index: 10; touch-action: none; max-height: 80vh; overflow-x: hidden; overflow-y: auto; box-sizing: border-box; padding: 0; margin: 0;")


    main#main.main
      #map(style='position: absolute; top: 0; bottom: 0; width: 100%;') 
      div.card.card-bottom-center(style='display: none;')
        .card-body
          h5.card-title-charts Waste Weight
              #donutChart.echart(style='min-height: 190px; bottom: 10px;')
      script.
        const collectionPointsSource = new ol.source.Vector();
        
        const collectionPointsLayer = new ol.layer.Vector({
          title: 'collection_points',
          source: collectionPointsSource,
          style: function (feature) {
            const average_weight = feature.get('average_weight');
            const radius = average_weight ? 3 + (average_weight / 100) * 5 : 5;
            
            return new ol.style.Style({
              image: new ol.style.Circle({
                radius: radius,
                fill: new ol.style.Fill({ color: 'rgba(230, 57, 70, 1)' }),
                stroke: new ol.style.Stroke({
                  color: 'rgba(225, 225, 225, 1)',
                  width: 1,
                }),
              }),
            });
          },
        });

        const osmLayer = new ol.layer.Tile({
          title: 'OpenStreetMap',
          type: 'base',
          source: new ol.source.OSM(),
        });

        const view = new ol.View({
          center: ol.proj.fromLonLat([4.3872, 45.4397]),
          zoom: 13,
          projection: 'EPSG:3857',
        });

        const map = new ol.Map({
          target: 'map',
          layers: [osmLayer, collectionPointsLayer],
          view: view,
        });

        // Pop up
        const popup = new ol.Overlay({
          element: document.getElementById('popup')
        });
        map.addOverlay(popup);

        function showCardWithDonutChart(feature) {
          const cardElement = document.querySelector(".card.card-bottom-center");
          cardElement.style.display = "block";  // Make the card visible

          // Get the waste data from the feature properties
          const totalWeight = feature.get('total_weight');
          const averageWeight = feature.get('average_weight');
          const minWeight = feature.get('min_weight');
          const maxWeight = feature.get('max_weight');

          // Initialize the chart with the data
          const donutChartElement = document.querySelector("#donutChart");
          const donutChart = echarts.init(donutChartElement);
          donutChart.setOption({
            color: ['#123456', '#789abc', '#def012', '#345678'],
            tooltip: { trigger: 'item' },
            legend: {
              top: '5%',
              bottom: '3%',
              left: 'center',
              itemWidth: 6,
              itemHeight: 6,
              textStyle: { rich: { fontSize: 7 } }
            },
            series: [{
              type: 'pie',
              radius: ['40%', '70%'],
              avoidLabelOverlap: false,
              label: {
                show: false,
                position: 'center'
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: '11',
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
              data: [
                { value: totalWeight, name: 'Total' },
                { value: averageWeight, name: 'Average' },
                { value: minWeight, name: 'Minimum' },
                { value: maxWeight, name: 'Maximum' }
              ]
            }]
          });
        }


        // pop up script
        map.on('singleclick', function (evt) {
          const feature = map.forEachFeatureAtPixel(evt.pixel, function (feature) {
            return feature;
          });

          if (feature) {
            const coordinates = feature.getGeometry().getCoordinates();

            // Center the map on the clicked feature
            const size = map.getSize();
            const resolution = view.getResolution();
            const newCenter = [
              coordinates[0],
              coordinates[1] + (-size[1] / 3) * resolution
            ];
            view.animate({ center: newCenter });

            // Fetch the HTML content from the external file
            fetch('/assets/collection-point-popup.html')
              .then(response => response.text())
              .then(html => {
                // Replace placeholders in the HTML content with feature properties
                let content = html
                  .replace(/{{id}}/g, feature.get('id'))
                  .replace(/{{code}}/g, feature.get('code'))
                  .replace(/{{name}}/g, feature.get('name'))
                  .replace(/{{address_1}}/g, feature.get('address_1'))
                  .replace(/{{postal_code}}/g, feature.get('postal_code'))
                  .replace(/{{city}}/g, feature.get('city'))
                  .replace(/{{longitude}}/g, feature.get('longitude'))
                  .replace(/{{latitude}}/g, feature.get('latitude'));

                const popupElement = popup.getElement();
                popupElement.dataset.featureId = feature.get('id').toString();
                popupElement.innerHTML = content;

                popup.setPosition(coordinates);

                // Show the card and update the donut chart
                showCardWithDonutChart(feature);

                // Continue with the rest of your code...
                // Make the popup draggable
                $( function() {
                  $( "#popup" ).draggable();
                } );

                // Close button logic
                document.querySelector('.btn-close').addEventListener('click', function() {
                  popup.setPosition(undefined);
                  document.querySelector(".card.card-bottom-center").style.display = "none";
                });

                // Add event listener for the edit form submission
                document.getElementById('edit-form').addEventListener('submit', function(e) {
                  e.preventDefault();

                  const id = document.getElementById('edit-id').value;

                  fetch(`/collectionpoint/${id}`, {
                    method: 'PUT',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      // Include the values from the form here
                      id: document.getElementById('edit-id').value,
                      code: document.getElementById('edit-code').value,
                      name: document.getElementById('edit-name').value,
                      address: document.getElementById('edit-address').value,
                      postal_code: document.getElementById('edit-postal-code').value,
                      city: document.getElementById('edit-city').value,
                      longitude: document.getElementById('edit-longitude').value,
                      latitude: document.getElementById('edit-latitude').value,
                      }),
                    })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch((error) => {
                      console.error('Error:', error);
                    });
                  });

                  // Add event listener for the delete form submission
                  document.getElementById('delete-form').addEventListener('submit', function(e) {
                    e.preventDefault();

                    // Check if the checkbox is ticked
                    if (!document.getElementById('confirm-delete').checked) {
                      alert('You must confirm the deletion before proceeding.');
                      return;
                    }

                    const id = document.getElementById('edit-id').value;

                    fetch(`/collectionpoint/${id}`, {
                      method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch((error) => {
                      console.error('Error:', error);
                    });
                  });
              });
          } else {
            popup.setPosition(undefined);
            // Hide the card
            const cardElement = document.querySelector(".card.card-bottom-center");
            cardElement.style.display = "none";
          }

          
        });
            


        let selected = null;

        map.on('pointermove', function (e) {
          if (selected !== null) {
            selected.setStyle(undefined);
            selected = null;
          }

          map.forEachFeatureAtPixel(e.pixel, function (f) {
            selected = f;
            f.setStyle(new ol.style.Style({
              image: new ol.style.Circle({
                radius: 23, // Increase the radius
                fill: new ol.style.Fill({ color: 'rgba(120, 0, 0, 1)' }), // Change the color
              }),
            }));
            return true;
          });
        });

        map.on('pointerout', function () {
          if (selected !== null) {
            selected.setStyle(undefined);
            selected = null;
          }
        });

      a(href='#', class='back-to-top d-flex.align-items-center.justify-content-center')
        i.bi.bi-arrow-up-short
      script(src='/assets/vendor/apexcharts/apexcharts.min.js')
      script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
      script(src='/assets/vendor/chart.js/chart.umd.js')
      script(src='/assets/vendor/echarts/echarts.min.js')
      script(src='/assets/vendor/quill/quill.min.js')
      script(src='/assets/vendor/simple-datatables/simple-datatables.js')
      script(src='/assets/js/main.js')
