.row
  .col-lg-8
    .row(style="position: fixed; bottom: 20px; right: 640px;")
      // Sales Card
      .card.info-card.sales-card(style="margin-right: 15px;")
        .card-body
          h5.card-title Total Weight
          .d-flex.align-items-center
            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
              i.bi.bi-cart
            .ps-3
              h6 145
              span.text-success.small.pt-1.fw-bold 12%
              span.text-muted.small.pt-2.ps-1 increase

      // Revenue Card
      .card.info-card.revenue-card(style="margin-right: 15px;")
        .card-body
          h5.card-title Total Collection points
          .d-flex.align-items-center
            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
              i.bi.bi-currency-dollar
            .ps-3
              h6 $3,264
              span.text-success.small.pt-1.fw-bold 8%
              span.text-muted.small.pt-2.ps-1 increase

      // Customers Card
      .card.info-card.customers-card
        .card-body
          h5.card-title T
          .d-flex.align-items-center
            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
              i.bi.bi-people
            .ps-3
              h6 1244
              span.text-danger.small.pt-1.fw-bold 12%
              span.text-muted.small.pt-2.ps-1 decrease