li.nav-item
          a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#charts-nav')
            i.bi.bi-bar-chart-fill
            span Iris
            i.bi.bi-chevron-down.ms-auto
          ul#charts-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              // Add chart links here