// Dashboard Nav
include map_dashboard.pug 

// Collection Points Nav
include collection_point.pug

// Treatment Sites Nav
include treatment_sites.pug

// Communes Nav
include  communes.pug

// Iris Nav
include iris.pug

// Buildings Nav
include building.pug

// Indicators Nav
include indicators.pug


nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-clock-history
    span Collection Schedule

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-card-checklist
    span Waste Records 

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-record2-fill
    span Waste Types

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-archive
    span Waste Containers

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-truck
    span Transportation Vechicles

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-sign-intersection-y
    span Transportstion Routes

nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-recycle
    span Treatment Technologies