// Dashboard Nav
include map_dashboard.pug 

// Collection Points Nav
include collection_point.pug

// Treatment Sites Nav
include treatment_sites.pug

// Transportation Routes Nav
include transportation_routes.pug

// Waste Containers Nav
include waste_containers.pug

// Communes Nav
include  communes.pug

//- // Iris Nav
//- include iris.pug

// Buildings Nav
include building.pug

li.nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-people
    span Population

nav-item
  a.nav-link.collapsed(href="/api/wastetypes")
    i.bi.bi-record2-fill
    span Waste Types

//- // Indicators Nav
//- include indicators.pug

// Add Data Nav
include addData.pug

// Download Data Nav
include downloadData.pug

li.nav-item
  a.nav-link.collapsed(href="#")
    i.bi.bi-play-circle
    span Perform Simulation




//- nav-item
//-   a.nav-link.collapsed(href="/api/wasterecords")
//-     i.bi.bi-card-checklist
//-     span Waste Records 



//- nav-item
//-   a.nav-link.collapsed(href="/api/wastecontainers")
//-     i.bi.bi-archive
//-     span Waste Containers

//- nav-item
//-   a.nav-link.collapsed(href="/api/transportationvehicles")
//-     i.bi.bi-truck
//-     span Transportation Vechicles

//- nav-item
//-   a.nav-link.collapsed(href="/api/routes")
//-     i.bi.bi-sign-intersection-y
//-     span Transportation Routes

//- nav-item
//-   a.nav-link.collapsed(href="#")
//-     i.bi.bi-recycle
//-     span Treatment Technologies