li.nav-item
  a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#forms-nav')
    i.bi.bi-buildings
    span Treatment Sites
    i.bi.bi-chevron-down.ms-auto
  ul#forms-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
    li
      a(href="/?layer=treatment_sites")
        i.bi.bi-circle
        span View Treatment Sites

    li 
      a(href="/api/treatmentsite/create")
        i.bi.bi-circle
        span Create Treatment site

    li 
      a(href="#")
        i.bi.bi-circle
        span Treatment Technologies
    
    li 
      a(href="#")
        i.bi.bi-circle
        span Treatment Site Technology Type

    li 
      a(href="#")
        i.bi.bi-circle
        span Filter Points
    li 
      div.form-filter
        form.ml-5(id="treatmentFilterForm")
          .row
            .col-md-12
              .input-group.mt-2.form-option
                .col-md-4
                  select#treatmentFilterFormOptions.form-control(name="filterType")
                    option(value="id") ID
                    option(value="code") Code
                    option(value="postal_code") Postal Code
                    //- option(value="city") City
                .col-md-5
                  input.form-control(type="text", id="treatmentFilterFormValue", aria-describedby="inputGroupPrepend2", required)
                .col-md-3  
                  button.btn.btn-primary(type="submit")
                    i.bi.bi-check-circle


script(src="./assets/js/utils.js")
script.
  document.addEventListener('DOMContentLoaded', (event) => {
    let urlParams = new URLSearchParams(window.location.search);
    const layer = urlParams.get('layer');

    if (window.location.href.includes('treatment_sites')) {
      window.fetchData(layer, null, null)
      .then(nestedFeatures => [].concat(...nestedFeatures))
      .then(features => {
        for (let feature of features) {
          feature.set('layer', 'treatment_sites');
        }
        treatmentSitesSource.clear();
        treatmentSitesSource.addFeatures(features);
      });

      window.handleFilterForm('treatmentFilterForm', 'treatment_sites', treatmentSitesSource);
    }

    // Always handle collection filter form, regardless of the current page
    window.handleFilterForm('collectionFilterForm', 'collection_points', collectionPointsSource);
  });


