li.nav-item
          a.nav-link.collapsed(href='#', data-bs-toggle='collapse', data-bs-target='#forms-nav')
            i.bi.bi-buildings
            span Treatment Sites
            i.bi.bi-chevron-down.ms-auto
          ul#forms-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              // Add form links here