extends layout

block content

  div.grid-container
    div.grid-item-1
        section.section
            div.row.card
                div.card-body.d-flex.justify-content-between
                    #dropArea.drop-area(data-controller="wasteRecord")
                        p Drag & Drop your CSV/XLSX file here with the following columns:
                        input#fileElem(type="file" accept=".csv, .xlsx" multiple)

  script(src="./assets/js/uploadutils.js")

  style.
    .form-group {
      margin-bottom: 15px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 20px 2fr;
      grid-gap: 10px;
      padding: 10px;
    }

    .grid-item-1 {
      grid-column: 2 / span 2;
      grid-row: 2;
      text-align: center;
    }

    .d-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .drop-area {
      border: 4px dashed #d9d9d9;
      padding: 20px;
      width: 400px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
    }

    #fileElem {
      display: none;
    }

           
  














//- script.
  //-   $(document).ready(function() {
  //-     $('.datatable-paginated').DataTable();

  //-     $(document).on("click", ".edit-record-btn", function(e) {
  //-       e.preventDefault(); 

  //-       const record = $(this).parents('tr').data('record');

  //-       $('#inputCollectionPointId').val(record.collection_point_id);
  //-       $('#inputWasteTypeId').val(record.waste_type_id);
  //-       $('#weight').val(record.weight);
  //-       $('#number_of_collections').val(record.number_of_collections);

  //-       $('#recordForm').attr('action', `/api/wasterecords/${record.id}`);
  //-       $('#modalTitle').text('Edit Waste Record');
  //-       $('#largeModal').modal('show');
  //-     });

  //-     $("#addNewRecordBtn").click(function() {
  //-       $('#inputCollectionPointId').val($("#inputCollectionPointId option:first").val());
  //-       $('#inputWasteTypeId').val($("#inputWasteTypeId option:first").val());
  //-       $('#weight').val("");
  //-       $('#number_of_collections').val("");

  //-       $('#recordForm').attr('action', `/api/wasterecords`);
  //-       $('#modalTitle').text('Add Waste Record');
  //-       $('#largeModal').modal('show');
  //-     });

  //-     // Add event listener for the "Submit" button
  //-     $("#submitFormBtn").click(function(e) {
  //-       e.preventDefault();
  //-       // Trigger the form submit event
  //-       $("#recordForm").submit();
  //-       // Hide the modal
  //-       $('#largeModal').modal('hide');
  //-     });

  //-     $('#recordForm').on('submit', function(e) {
  //-       e.preventDefault();

  //-       const url = $(this).attr('action');
  //-       const formData = $(this).serialize();
  //-       const httpMethod = url.includes('wasterecords/') ? 'PUT' : 'POST';

  //-       $.ajax({
  //-           url: url,
  //-           type: httpMethod,
  //-           data: formData,
  //-           success: function() {
  //-               swal("Good job!", "You have successfully updated the record!", "success").then(function() {
  //-                   location.reload();
  //-               });
  //-               $('#inputCollectionPointId').val($("#inputCollectionPointId option:first").val());
  //-               $('#inputWasteTypeId').val($("#inputWasteTypeId option:first").val());
  //-               $('#weight').val("");
  //-               $('#number_of_collections').val("");
  //-               $('#largeModal').modal('hide');
  //-           },
  //-           error: function() {
  //-               swal("Oops!", "Failed to create/update the record.", "error");
  //-           }
  //-       });
  //-     });
  //-   });

  //-   function deleteRecord(id) {
  //-     swal({
  //-       title: "Are you sure?",
  //-       text: "Once deleted, you will not be able to recover this record!",
  //-       icon: "warning",
  //-       buttons: true,
  //-       dangerMode: true,
  //-     })
  //-     .then((willDelete) => {
  //-       if (willDelete) {
  //-         fetch(`/api/wasterecords/${id}`, {
  //-           method: 'DELETE'
  //-         })
  //-         .then(response => response.json())
  //-         .then(data => {
  //-           if (data.message) {
  //-               swal("Deleted!", "Your record has been deleted.", "success").then(function() {
  //-                   location.reload();
  //-               });
  //-           } else {
  //-               swal("Oops!", "Failed to delete record.", "error");
  //-           }
  //-         });
  //-       }
  //-     });
  //-   }